<!DOCTYPE html> 
<html>
  <p> SEND A MESSAGE! </p>
  <form action="/results" method="POST">
    
 Telephone: <br>
  <input type="tel" name="number">
  <br>
  <br>
    Message: <br>
    <textarea rows="5" cols="30" name="message"> 
    </textarea>
    <br> <br>
         <input type = "submit" value = "SEND">
   </form>
</html>